.sidebar {
  background: var(--color_body_bg);
  height: calc(100vh - 66px);
  width: 200;
  transition: all 0.2s !important;
}
.top_section {
  display: flex;
  align-items: center !important;
  cursor: pointer !important;
  padding: 5px !important;
}
.logo {
  font-size: 12px !important;
  padding-left: 5px;
}
.bars {
  display: flex !important;
  font-size: 15px !important;
  margin-left: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--color_gray);
  transition: all 0.2s !important;
}
.link {
  display: flex;
  color: var(--color_gray);
  padding: 5px 15px;
  gap: 15px;

  text-decoration: none;
  /*  border-radius: 15px; */
  transition: all 0.2s;
}
.link:hover,
.bars:hover {
  background: var(--color_navbar_bg);
  color: #000 !important;
  transition: all 0.1s !important;
}
.link:hover {
  padding-left: 17px;
  /* background: var(--color_gray); */
}
.active {
  background: var(--color_navbar_bg);
  border-left: 3px solid var(--color_border);

  color: #000 !important;
}
.icon,
.link_text {
  font-size: 15px !important;
  transition: all 0.2s !important;
}
