.mainSidebar {
  background: var(--color_body_bg);
  height: calc(100vh - 66px);
  width: 195px;
  transition: all 0.2s !important;
}
.mainSidebar .top_section {
  display: flex;
  align-items: center !important;
  cursor: pointer !important;
  padding: 5px !important;
}
.mainSidebar .logo {
  font-size: 12px !important;
  padding-left: 5px;
}
.mainSidebar .bars {
  display: flex;
  font-size: 15px;
  margin-left: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--color_gray);
  transition: all 0.2s;
}
.mainSidebar .link {
  display: flex;
  color: var(--color_gray);
  padding: 10px 15px;
  gap: 15px;
  text-decoration: none;
  transition: all 0.2s;
}
.mainSidebar .link:hover,
.mainSidebar .bars:hover {
  background: var(--color_navbar_bg);
  color: #000 !important;
  transition: all 0.1s !important;
}
.mainSidebar .link:hover {
  padding-left: 17px;
}
.mainSidebar .active {
  background: var(--color_navbar_bg);
  border-left: 3px solid var(--color_border);
  color: #000 !important;
  transition: all 0.2s !important;
}
.mainSidebar .active .icon {
  color: var(--color_border);
  margin-left: 10px;
  transition: all 0.2s !important;
}
.mainSidebar .notOpen {
  margin-left: 0px !important;
  transition: all 0.2s !important;
}

.icon,
.link_text {
  font-size: 15px !important;
  transition: all 0.2s !important;
}
