:root {
  --color_navbar_bg: #f9fafc;
  --color_body_bg: #ffffff;
  --color_gray: #ced4da;
  --color_black: #353c48;
  --color_border: #1eb7ff;
  --color_002: #fd8c73;
  --color_003: #f8f9fa;
  --bgColor_001: #eaedf1;
  --bgColor_002: #f6f8fa;
  --bgColor_003: #f3f4f6;
}

@font-face {
  font-family: myFont001;
  src: url(../public/fonts/Roboto-Thin.ttf);
}

* {
  font-family: myFont001;
}

body {
  background-color: var(--color_navbar_bg) !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
